<!-- About us page-->

<!-- the header -->
{% include "header.html" %}
<!-- the body -->
        <div class="col-sm-3 sidebar">
         
        </div>
        <!-- the content -->
        <div class="col-sm-8 main">
          <!--selected theme description and details --> 
          <div id="about_us">

            <div class="page-header">
              <h1>Hello there!! <small>Welcome to VerseByte Bible Quiz</small></h1>
            </div>
            <h2>VerseByte is about putting fun into studying the Bible.</h2>
            <p>
              Anyone can do the quizes as much as they can create fun objective-based quizes for everyone else to learn. 
              You can get started <a href="/contact/">here</a>
            </p>

          </div>

        </div>

<!-- the footer -->
{% include "footer.html" %}

<script type="text/javascript">

$(function(){

});

</script>