<!-- Contact us page-->

<!-- the header -->
{% include "header.html" %}
<!-- the body -->
        <div class="col-sm-3 sidebar">
         
        </div>
        <!-- the content -->
        <div class="col-sm-8 main">

          <div id="contact_us">

            <div class="page-header">
              <h1>Hello there again!! <small>Would be great to hear from you!</small></h1>
            </div>
            <h2>Have any ideas of making this better or getting involved?</h2>
            <p>
              Twitter: @versebyte
              Facebook: facebook.com/versebyte
            </p>

          </div>

        </div>

<!-- the footer -->
{% include "footer.html" %}

<script type="text/javascript">

$(function(){

});

</script>