<!--load quiz theme details --> 

 <div id="show_theme">
 	<div class="page-header">
      <h1><small>{{theme.theme}}</small></h1>
    </div>
	<div class="jumbotron">
        <p>{{theme.description}}</p>
        <p>{{no_qns}} Questions</p>
        <p>{{no_rounds}} Rounds</p>
        <p>Quiz by {{theme.author}}</p>
        {% ifequal paused 'false' %}
        	<p><a href="/themed_quiz?theme_id={{theme.id}}&quiz_round={{quiz_round}}&no_rounds={{no_rounds}}" class="btn btn-primary btn-lg" role="button">Start Quiz</a></p>
        {% else %}
        	<p><a href="/resume_quiz?theme_id={{theme.id}}" class="btn btn-primary btn-lg" role="button">Resume Quiz</a></p>
        {% endifequal %}
    </div>
 </div>