<!DOCTYPE HTML PUBLIC "-//W3C//DTD HTML 4.01 Transitional//EN">
{% load staticfiles %}
<html>
<head>
<meta http-equiv="X-UA-Compatible" content="IE=9; IE=8; IE=7; IE=EDGE" />
<meta charset="utf-8" />
<title>My Site</title>
<meta name="viewport" content="width=device-width, initial-scale=1.0">
<link href="{% static 'bootstrap/css/bootstrap.css' %}" rel="stylesheet" type="text/css" />
<link href=" {% static 'bootstrap/css/bootstrap-responsive.css' %}" rel="stylesheet" type="text/css" />

<script src="{% static 'bootstrap/js/jquery-2.1.0.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/bootstrap.js' %}" type="text/javascript"></script>
<script src="{% static 'bootstrap/js/holder.js' %}" type="text/javascript"></script>

</head>
  <body>
    <style type="text/css">
    body {
    padding-top: 70px;
  }
  </style>

    <div class="navbar navbar-fixed-top">
          <div class="navbar-inner">
            <a href="#" class="brand">Versefeed</a>
            <ul class="nav">
              <li><a href="#">Questions</a></li>
              <li><a href="#">Users</a></li>
              <li><a href="#">Settings</a></li>
            </ul>
          </div>
        </div>

    <div class="container-fluid">
      <div class="row-fluid">

        <div class="span3">
          <ul class="nav nav-tabs nav-stacked">
            <li><a href="#">Questions</a></li>
            <li><a href="#">Users</a></li>
            <li><a href="#">Settings</a></li>
          </ul>
        </div>
        <div class="span8">
          <table class= "table table-striped">
            <thead>
              <th>Qn id</th><th>Qn</th><th>Qn ref</th>
            </thead>
            <tbody>
           	{% for qn in qns_list %}
           		<!-- <p>Qn Id: {{qn.id}}
           		Qn: {{qn.qn}}
           		Qn Ref: {{qn.ref}} 
           	</p> --> 
              <tr>
                <td>{{qn.id}}</td>
                <td>{{qn.qn}}</td>
                <td>{{qn.ref}}</td>
              </tr>

         	{% endfor %}
            </tbody>
           </table>
        </div>
      </div>
    </div>
  </body>
</html>